@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?khtvn');
  src:  url('fonts/icomoon.eot?khtvn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?khtvn') format('truetype'),
    url('fonts/icomoon.woff?khtvn') format('woff'),
    url('fonts/icomoon.svg?khtvn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\e900";
}
.icon-weibo:before {
  content: "\e901";
}
.icon-wechat:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-up:before {
  content: "\e904";
}
.icon-tag:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e90a";
}
.icon-right:before {
  content: "\e90b";
}
.icon-qq:before {
  content: "\e90d";
}
.icon-picture:before {
  content: "\e90f";
}
.icon-markdown:before {
  content: "\e912";
}
.icon-left:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e915";
}
.icon-folder:before {
  content: "\e916";
}
.icon-file:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e91b";
}
.icon-classify:before {
  content: "\e91c";
}
.icon-category:before {
  content: "\e91d";
}
.icon-down:before {
  content: "\e91e";
}
.icon-delete:before {
  content: "\e91f";
}
.icon-delete-o:before {
  content: "\e920";
}
.icon-calendar-o:before {
  content: "\e923";
}
.icon-github:before {
  content: "\eab0";
}
