/*Custom styles*/
/*主页文章 设置顺滑渲染*/
 
  /*分割线*/
  html,body {
    background-color: rgba(252,252,252,1);
  }
  .main {
    padding-top: 30px;
  }
  .post {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
  }
  table {
    /*width: 92%;*/
    margin: 10px auto;
  }
  th,td{
    border:1px solid lightgray;
  }
  /*限制图片宽度*/
  .post img {
    /*max-width:85%;*/
    /*max-height:100%;*/
  }
  .post blockquote {
    /*引用设置*/
    /*border-left: 4px solid lightgray;*/
    border-left: 4px solid rgba(54, 74, 83, 0.4);
    background-color: rgba(207,216,220,0.09);
  }
  /*.highlight {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  }*/
  .post hr {
    /*分割线*/
    margin: 20px 0;
    height: 1px;
    border: none;
    background-color: #999;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 10px);
  }
  blockquote p {
    margin: 0;
  }
  .post-body a {
    color: #0092db;
  }
  .post-body a:hover {
    color: #1abc9c;
  }
  sup a{
    color: red;
    background-color: #eee;
    padding: 0 2px;
  }
  .description {
    /*座右铭*/
    color:lightgray;
    font-size: 10px;
    font-weight:lighter; 
    clear: both; 
    display: none;
      /*+mobile() {
      display: inline-block;
      line-height: 60px;
      text-align: center;
      width: 100%;
    }*/
    
  }
  ul.menu{
    position:relative;
}
  ul.submenu {
    /*display:none;*/
    position: absolute;
    padding: 0;
    margin: 0;
    top: 60px;
    right: 0;

    line-height: 2rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  ul.submenu li {
    list-style-type: none;
    width: 50px;
    background-color: #fbd76b;
    margin:5px 10px;
    line-height: 1.6rem;
    display: block;
  }
  /*ul.submenu a {text-decoration: none;display:block;}*/
      /*导航*/
      /* 关键 */    
  /*ul.submenu li {position:relative;padding: 0px; margin: 0;}*/
  li:hover>ul.submenu {
    /*display: block;*/
    visibility: visible;
    opacity: 1;

    +mobile() {
      /*display:none;*/
      visibility: hidden;
      opacity: 0;
    }
  }
  /* 一级菜单*/
  /*二级菜单*/
  /*ul.submenu li ul.submenu {top: 0px; left: 100%; }*/
  /*ul.submenu li a{border-bottom: dotted 1px #CCC;}*/
  .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 6px;
    margin-right: -14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #ccc;
    +mobile() {
      display:none;
    }
  }

  /*gitment*/
  #showtalk {
  cursor:pointer;
  letter-spacing:5px;
  border:1px solid #dadada;
  width:170px;
  text-align:center;
  color:#666;
  font-size:14px;
  padding:5px 0;
  margin: 0 auto;
  font-weight: 300;
}
#showtalk:hover {
  color: #1abc9c;
}
.gitment-container {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  word-wrap: break-word;
}

.gitment-container * {
  box-sizing: border-box;
}

.gitment-container *:disabled {
  cursor: not-allowed;
}
/*菜单滚动隐藏*/
/*.is-hidden {
  display: none;
}*/
