/node_modules
/public
# /themes/loft/source/images
/source/_posts
.DS_Store
*/.DS_Store
/.deploy_git
/.git
db.json
_config.yml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln