/*Custom styles*/
/*主页文章 设置顺滑渲染*/
 
  /*分割线*/

 .post {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
  }
  table {
    width: 92%;
    margin: 10px auto;
  }
  th,td{
    border:1px solid lightgray;
  }
  /*限制图片宽度*/
  img {
    max-width:85%;
    /*max-height:100%;*/
  }