/*Custom styles*/
/*主页文章 设置顺滑渲染*/
 
  /*分割线*/
  html,body {
    background-color: rgba(252,252,252,1);
  }
  .main {
    padding-top: 30px;
  }
  .post {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
  }
  table {
    width: 92%;
    margin: 10px auto;
  }
  th,td{
    border:1px solid lightgray;
  }
  /*限制图片宽度*/
  .post img {
    max-width:85%;
    /*max-height:100%;*/
  }
  .post blockquote {
    /*引用设置*/
    border-left: 4px solid lightgray;
  }
  .post hr {
    /*分割线*/
    margin: 20px 0;
    height: 1px;
    border: none;
    background-color: #999;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 10px);
  }
  blockquote p {
    margin: 0;
  }
  .post-body a {
    color: #0092db;
  }
  .post-body a:hover {
    color: #1abc9c;
  }
  sup a{
    color: red;
    background-color: #eee;
    padding: 0 2px;
  }
  .description {
    /*座右铭*/
    color:lightgray;
    font-size: 10px;
    font-weight:lighter; 
    clear: both; 
    display: none;
      /*+mobile() {
      display: inline-block;
      line-height: 60px;
      text-align: center;
      width: 100%;
    }*/
    
  }