/*Custom styles*/
/*主页文章 设置顺滑渲染*/
 
  /*分割线*/
 .headerline {
    height:1px;
    width:70%;
    margin:0 auto;
    padding:0;
    border:none;
    border-top:1px solid #ccc;
    /*+tablet() { display: none; }*/
    +mobile() { display: none; }
  }
 .post {
   -webkit-font-smoothing: antialiased;
  }
  table {
    width: 92%;
    margin: 10px auto;
  }
  th,td{
    border:1px solid lightgray;
  }