.sidebar-toggle {
  /*目录样式*/
  position: fixed;
  right: 8%;
  top: 286px;
  width: 14px;
  height: 14px;
  padding: 5px;
  /*background: $black-deep;*/
  line-height: 0;
  z-index: $zindex-5;
  cursor: pointer;
  -webkit-transform: translateZ(0);

  +tablet() {
    display: none;
  }
  +mobile() {
    display: none;
  }
}



.sidebar-toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 1px;
  width: 100%;
  background: white;
  margin-top: 4px;
  color:black;

  &:first-child { margin-top: 0; }
}
