.custom-logo {
  .site-meta-headline { text-align: center; }

  .brand { background: none; }

  .site-title {
    margin: 10px auto 0;
    font-size: 24px;
    color: $black-deep;
    a { border: none; }
  }


}

.custom-logo-image {
  float: left;
  padding: 5px;
  max-width: 160px;
  /*border-radius: 50%;*/
  border-color: transparent;
  +mobile() {
    margin-left: 10px;
    margin-top: 5px;
    max-width: 120px;
  }
}
