.site-nav {
  +mobile() {
    position: absolute;
    right: 0;
    top: 36px;
    margin: 0;
    width: 110px;
    padding: 0;
    background: transparent;
    border-bottom: 0px solid $gray-lighter;
    z-index: 1;
    padding-right: 6px;
  }
}
.menu {
  +mobile() { text-align: left; }
}
.menu .menu-item {
  +mobile() {
    display: block;
    margin: 0 10px;
    text-align: right;
    vertical-align: top;
  }

  br {
    +mobile() { display: none; }
  }

  a {
    +mobile() { padding: 5px 10px; }
  }
  .fa { margin-right: 0; }
}
