.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    padding: 10px;
    background-color: rgba(102,128,153,0.075);
    color: rgba(44,63,81,0.5);
  }
  a:hover {
    color: #1abc9c;
  }
}
